.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.home-content {
  margin: 0 36px 36px 36px;

  @include tablet {
    margin: 0 8px 36px 12px;
  }
}

h1 {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-family: SF-heavey;
  opacity: 0.5;

  @include tablet {
    font-size: 28px;
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  